body,
html {
	height: 100%;
}

.pull-right {
	float: right !important;
	margin-left: 5px;
}

.login-body {
	background-image: url("../../image/asset/login-background.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.background-glass {
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.8;
	position: absolute;
}

.login-container {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px;
	padding: 30px;
	transform: translate(-50%, -50%);
}

.login-container:after {
	content: '';
	background: #fff;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.2;
	border-radius: 30px;
	margin: 0px;
	padding: 30px;
}

.fp-container {
	width: 400px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px;
	padding: 30px;
	transform: translate(-50%, -50%);
}

.fp-container:after {
	content: '';
	background: #fff;
	width: 400px;
	height: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.2;
	border-radius: 30px;
	margin: 0px;
	padding: 30px;
}

.cp-container {
	width: 400px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px;
	padding: 30px;
	transform: translate(-50%, -50%);
}

.cp-container:after {
	content: '';
	background: #fff;
	width: 400px;
	height: 350px;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.2;
	border-radius: 30px;
	margin: 0px;
	padding: 30px;
}

.img-container {
	width: 100%;
	height: 120px;
	display: inline-block;
	position: relative;
	border-radius: 30px;
	z-index: 1;
}

.img-container img {
	width: auto;
	height: 120px;
	position: absolute;
	left: 0px;
	border-radius: 30px;
}

.title-container {
	font-size: 30px;
	font-weight: bold;
	color: #4f9002;
}

.msg-container {
	font-size: 20px;
	color: #fff;
}

.form-container {
	width: 100%;
	height: 120px;
	display: inline-block;
	margin-top: 20px;
	position: relative;
	z-index: 1;
}

.form-group {
	width: 100%;
	position: relative;
	ve;
	*/ z-index: 2;
	margin-bottom: 15px;
}

.form-group .fg-img {
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 3;
	padding: 5px;
	margin: 2px;
	background-color: #4f9002;
	border-radius: 30px;
}

.form-group .fg-img img {
	width: 20px;
	height: 20px;
	z-index: 2;
}

.form-group input {
	width: 100%;
	position: relative;
	z-index: 2;
	border-radius: 30px;
	border: none;
	padding: 15px 15px 15px 50px;
	font-size: 20px;
	color: #3e3e3e;
}

.form-group input:focus {
	outline: none !important;
	border-color: #969696;
	box-shadow: 0 0 10px #969696;
}

.fpass-container {
	width: 100%;
	text-align: left;
}

.fpass-container a {
	color: #fff;
}

.btn-login {
	border: none;
	border-radius: 30px;
	background-color: #4f9002;
	color: #fff;

}

.btn-login:hover {
	box-shadow: 0 0 6px #4f9002;
}